html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #171717;
  margin: 0;
  padding: 0;
  font-family: 'Titillium Web', sans-serif;
  cursor: default;
}

a {
  text-decoration: none;
  color: #FFFFFF;
}

.header {
  width: 100%;
  height: 4.5rem;
  background-color: #0B0B0B;
  color: #FFFFFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: .5rem 2rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media only screen and (max-width: 68rem) {
  .header {
    padding: 0;
  }
}

.header__mobile-hamburger {
  margin-top: 6px;
}

@media only screen and (min-width: 68rem) {
  .header__mobile-hamburger {
    display: none;
  }
}

.header__mobile-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 95vw;
  height: auto;
  padding: 1rem;
  font-size: 1.5rem;
  background-color: #0B0B0B;
  z-index: 1111;
  opacity: 0;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  pointer-events: none;
}

.header__mobile-menu a {
  margin: .5rem 0;
}

.header__mobile-menu-open {
  opacity: 1;
}

.header__icons-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__icons-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media only screen and (max-width: 68rem) {
  .header__icons-container {
    display: none;
  }
}

.header__icons-container a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 .3rem;
  cursor: pointer;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

.header__icons-container a:hover {
  -webkit-transform: translate(0, -3px);
          transform: translate(0, -3px);
}

.header__title-container {
  font-size: 1.5rem;
  font-weight: 600;
}

.header__menu {
  font-size: 1.1rem;
}

.header__menu a {
  margin: 0 .5rem;
  -webkit-transition: all .2s ease-in;
  transition: all .2s ease-in;
}

.header__menu a:hover {
  color: #171717;
}

@media only screen and (max-width: 68rem) {
  .header__menu {
    display: none;
  }
}

.header__menu-projetos {
  font-weight: 600;
}

.portfolio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: 1050px;
  height: auto;
  margin: 1.5rem auto;
}

@media only screen and (max-width: 68rem) {
  .portfolio {
    width: 100vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 1.5rem auto;
  }
}

.portfolio__project {
  width: 470px;
  height: 265.44px;
  margin: 1rem;
  border-radius: .6rem;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

@media only screen and (max-width: 68rem) {
  .portfolio__project {
    width: 340px;
    height: auto;
    margin: 2rem 1rem;
  }
}

.portfolio__project-image {
  position: absolute;
  border-radius: .48rem;
  width: 470px;
  height: auto;
}

@media only screen and (max-width: 68rem) {
  .portfolio__project-image {
    width: 340px;
  }
}

.portfolio__text-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 470px;
  height: 264.5px;
  border-radius: .41rem;
  background-color: #0B0B0B;
  color: #FFFFFF;
  opacity: 0;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.portfolio__text-container:hover {
  opacity: .9;
}

.portfolio__text-container a {
  font-size: 1.2rem;
  font-weight: 600;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

.portfolio__text-container a:hover {
  -webkit-transform: translate(0, -3px);
          transform: translate(0, -3px);
}

.portfolio__text-container h2 {
  margin-bottom: 0;
}

.portfolio__text-container p {
  max-width: 22rem;
  text-align: center;
}

@media only screen and (max-width: 68rem) {
  .portfolio__text-container {
    width: 340px;
    height: auto;
  }
}

footer {
  height: 2rem;
  color: #FFFFFF;
  font-size: .85rem;
  background-color: #0B0B0B;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
/*# sourceMappingURL=style.css.map */